page-sellers {
    .content {
        background-color: $light;
    }
    .user { 
        ion-avatar img{
            width: 60px !important;
            height: 60px !important;
            border: 2px solid $primary;
        }
        ion-badge {
            margin-left: 10px;
        }
        i {
            color: $primary;
            padding-right: 4px;
        }
        .name {
            text-align: left;
            font-size: 1em;
        }

        .online {
            color: green;
        }
        .offline {
            color: $primary; 
        }

        .online, .offline {
            font-size: .6em;
            padding-bottom: 4px;
            padding-left: 10px;
            float: right;
        }

        .distance {
            span {
                font-weight: bold;
                color: $primary;
            }
        }
    }

    .allow-location {
        padding: 20px;
        color: $white;
        text-align: center;
        background-color: $secondary;
        font-size: 1em;
        i {
            padding-right: 4px;;
        }
    }

	skeleton-item.sk-item-end {
		div:first-child {
			float: right;
		}
    }
    
    skeleton-item.avatar {
        div {

            border-radius: 100%;
        }
    }
     
}
