page-chat {
    ion-avatar{
        margin: 0 0 10px 0  !important; 
        width: 40px;
        height: 40px;
    }

    .list-md, .list-ios {
        margin: 0;
    }

    .item-block:last-child {
        border-bottom: none !important;
    }

    .message-control {
        border-top: 2px solid $dark-grey;
    }

    .label-md, .label-ios{
        margin: 0;
    }

    .toolbar-md {
        min-height: 60px;
    }
    .profile-pic {
        width: 40px;
        height: 40px;
        border: 1px solid $white;
        border-radius: 50%;
    }

    .toolbar-md-dark .toolbar-title-md, .toolbar-ios-dark .toolbar-title-ios {
        margin-bottom: 8px;
    }
    .title  {
        display: inline-block
    }
    ion-footer {
        margin-bottom: 4px !important;
        ion-item {
            padding-left: 0 !important;
        }
        .item-inner {
            border-radius: 10px;
            margin: 0 5px;
        }
        ion-input {
            padding-left: 6px !important;
            font-size: 14px
        }
        button {
            font-weight: bold;
        }
    }

    
    
 
}
