<ion-header>
  <ion-navbar color="dark"> 
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content> 
  <div class="profile" *ngIf="profile">
    <img class="profile-image animated slideInDown" [src]="getProfilePicture()">
    <ion-grid>
      <ion-row>
        <ion-col col-7 class="name animated slideInLeft">
          <p class="nickname">{{capitalizeFirstLetter(profile?.nickname)}}
            <ion-badge primary>26</ion-badge> 
          </p>
          <p class="userType">{{capitalizeFirstLetter(profile?.userType)}}</p>
        </ion-col>
        <ion-col col-5 class="ratings animated slideInRight">
          <p><ion-badge primary>{{userRating || 0}}</ion-badge> 
          <rating [float]="true" [(ngModel)]="userRating" [readonly]="true" ></rating></p>
        </ion-col>
      </ion-row>
      <hr>
      <ion-row class="stats animated bounceIn">
        <ion-badge primary >{{profile?.gender}}</ion-badge> 
        <ion-badge primary>{{profile?.race}}</ion-badge> 
        <ion-badge primary>{{profile?.bodyType}}</ion-badge> 
      </ion-row>
    </ion-grid>
  </div>

  <ion-item-divider color="light">My photos</ion-item-divider>


  <!-- <button ion-button (click)="removeItem()">Remove</button> -->

  <div *ngIf="images && !isLoading">
    <div class="pins" padding [@listAnimation]="images.length">
      <div class="pin" *ngFor="let image of images" (tap)="previewImage(image)">
        <img [src]="image" alt="">
      </div>
    </div>
  </div>

  <div *ngIf="isLoading">
    <div class="pins" padding>
      <div class="pin" *ngFor="let image of [1,2,3,4,5]">
        <skeleton-item  height="160px" width="100px"></skeleton-item>
      </div>
    </div>
  </div>

  <div class="no-images" *ngIf="(!images || images.length < 1) && !isLoading">
    <p>You have not uploaded photos</p>
  </div>
  
  <ion-fab bottom right (click)="selectPhoto()">  
    <button ion-fab>
      <i class="fa fa-plus"></i>
    </button>
  </ion-fab>
   

</ion-content>
  