<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- <div id="profile-bg" [ngStyle]="{'background-image': 'url(' + img +')'}"></div>
  <div id="content" *ngIf="user">
    <div id="profile-info">
      <img id="profile-image" src="assets/imgs/users/user{{user.id}}.jpg">
      <h2 class="nickname">{{user.nickname}} 
          <ion-badge class="age" item-end>{{getAge(user.dob)}}</ion-badge>
        </h2>
        <rating [float]="true" [(ngModel)]="user.rating" [readonly]="true"></rating>
        <div class="tags">
          <ion-badge primary>{{user.gender}}</ion-badge>
          <ion-badge primary>{{user.race}}</ion-badge>
          <ion-badge primary>{{user.bodyType}}</ion-badge>
        </div>
    </div>   
  </div> -->

  <div class="profile">
    <img class="profile-image animated slideInDown" src="{{img}}">
    <ion-grid>
      <ion-row>
        <ion-col col-7 class="name animated slideInLeft">
          <p class="nickname">{{user?.nickname}}
            <ion-badge primary>26</ion-badge> 
          </p>
          <p class="userType">{{user?.userType}}</p>
        </ion-col>
        <ion-col col-5 class="ratings animated slideInRight">
          <p><ion-badge primary>{{userRating || 0}}</ion-badge> 
          <rating [float]="true" [(ngModel)]="userRating" [readonly]="true" ></rating></p>
        </ion-col>
      </ion-row>
      <hr>
      <ion-row class="stats animated bounceIn">
        <ion-badge primary >Female</ion-badge> 
        <ion-badge primary>Black</ion-badge> 
        <ion-badge primary>Slim</ion-badge> 
      </ion-row>
    </ion-grid>
  </div>

 
  <div class="pins" padding [@listAnimation]="images.length">
    <div class="pin" *ngFor="let image of images">
      <img [src]="image" alt="">
    </div>
  </div>
   
</ion-content>
  