page-profile {

  .toolbar-background {
    background: inherit !important;
  } 

  ion-navbar {
    button {
      color: $primary !important;
    } .toolbar-title {
      color: $primary !important;
    }
  }
  
  .header::after {
      display: none !important; 
  }

  .header-ios .toolbar-ios:last-child .toolbar-background-ios {
      border-width: 0 !important;
  }

  .content {
    // background-color: $light-grey;
  }

  .pins {
    column-count: 3;
    .pin {
      display: inline-block;
      margin-bottom: 8px;
      img {
        border-radius: 4px;
      }
    }
  }

  .stats {
    margin: 0 auto;
    .badge {
      padding: 4px;
      margin: 0px 4px;
      width: 70px;
    }
  }

  .name {
    padding-left: 20px;
  }

  .profile {
    .profile-image {
      border-radius: 100px;
      border: 1px solid #fff;
      width: 60px;
      height: 60px;
      margin: 20px 20px 0 20px;

    } 
    .nickname {
      font-size: 1.1em;
      font-weight: bold;
      margin-bottom: 0;

    }
    .userType {
      margin-top: 0;
      font-size: 1em;
    }
  } 
 

  .star-icon {
    font-size: $small !important;
    color: $primary !important;
  }

  .star-icon::before {
    color: $primary !important;
    font-size: $small !important;
  } 

  .tags {
    display: block;
    margin: 10px 0
  }
  .info {
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      h2, p {
          margin: 0;
          padding: 0
      }
      h2 {
          font-size: 1em;
          font-weight: bold;
      }
      p {
          font-size: 0.9em;
      }
    }  

    .list-item-content {
      padding: 5px;
    }

    .list-item {
      color: #666666;
    }

    .post-profile-image {
      display: inline-block;
      vertical-align: top;
      width: 48px;
      height: 48px;
      margin-right: 10px;
    }
  
}
