page-profile {

  .toolbar-background {
    background: inherit !important;
  } 

  ion-navbar {
    button {
      color: $primary !important;
    } .toolbar-title {
      color: $primary !important;
    }
  }
  
  .header::after {
      display: none !important; 
  }

  .header-ios .toolbar-ios:last-child .toolbar-background-ios {
      border-width: 0 !important;
  }
 
  .pins {
    column-count: 3;
    .pin {
      display: inline-block;
      margin-bottom: 8px;
      img {
        border-radius: 4px;
      }
    }
  }

  .stats {
    margin: 0 auto;
    .badge {
      padding: 4px;
      margin: 0px 4px;
      width: 70px;
    }
  }

  .name {
    padding-left: 20px;
  }

  .profile {
    .profile-image {
      border-radius: 100px;
      border: 1px solid #fff;
      width: 60px;
      height: 60px;
      margin: 20px 20px 0 20px;

    } 
    .nickname {
      font-size: 1.1em;
      font-weight: bold;
      margin-bottom: 0;

    }
    .userType {
      margin-top: 0;
      font-size: 1em;
    }
  } 
 

  .star-icon {
    font-size: $small !important;
    color: $primary !important;
  }

  .star-icon::before {
    color: $primary !important;
    font-size: $small !important;
  } 

  .tags {
    display: block;
    margin: 10px 0
  }

  ion-item-divider {
    margin-top: 20px;
    ion-label {
      font-weight: bold;
    }
  }
  .no-images {
    text-align: center;;
    padding: 20px;
    font-size: $medium;
  }
  
}
