@import '../theme/main.scss';
// page-seller-details{
// 	position: absolute !important;
// 	bottom: 0 !important;
// 	height: 86% !important;
//     top: 15% !important;
// 	border-radius: 20px;
// }
* {
	font-family: 'Baloo Paaji 2', cursive;
}

.toolbar {
	min-height: 65px;
}
ion-modal {
    ion-backdrop {
        visibility: visible;
    }
    .modal-wrapper {
		width: 100%;
		top: 15%;
        height: 86%;
        position: absolute;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		overflow: hidden;
    }
}
 

.ion-ios-logo, .ion-md-logo {
	content: url('../../assets/icon.svg');
	width: 40px;
	height: 40px;
}
.ion-ios-logo-outline {
	content: url('../../assets/icon.svg');
	width: 40px;
	height: 40px;
}
.ion-md-logo[ng-reflect-is-active=false]{
	content: url('../../assets/icon.svg');
	width: 40px;
	height: 40px;
}