<ion-header>
  <ion-navbar >
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>
  
<ion-content>
  <ion-slides pager>
    <ion-slide>
      <img src="assets/imgs/users/user1.jpg"> 
    </ion-slide>
  
    <ion-slide>
      <img src="assets/imgs/users/user1.jpg"> 
    </ion-slide>
  
    <ion-slide>
      <img src="assets/imgs/users/user1.jpg"> 
    </ion-slide>
  </ion-slides> 

  <div class="profile" *ngIf="profile">
    <h2>{{profile.nickname}} 
      <ion-badge class="age">{{profile?.age}}</ion-badge>
    </h2>
    <p class="distance"> 
      <i class="fa fa-map-marker"></i>
      <span>{{getDistance(user?.location.geo)}} </span>km away
    </p>
    <p>{{profile?.description}}</p> 

  </div>

  <ion-fab bottom right>
    <button ion-fab>
      <i class="fa fa-comment"></i>
    </button>
  </ion-fab>
</ion-content>

<ion-footer>
  <!-- <ion-buttons class="btn-group">
    <button ion-button icon-only>
      <div class="fa fa-comment"></div>
    </button>
  </ion-buttons> -->
  <!-- <div class="popup-menu" *ngIf="user">
    <div class="popup-menu-overlay" [ngClass]="{'in': openMenu}" (click)="togglePopupMenu()"></div>
    <div class="popup-menu-toggle" (click)="togglePopupMenu()" [ngClass]="{'out': openMenu}"></div>
    <div class="popup-menu-panel" [ngClass]="{'in': openMenu}">
      <div class="popup-menu-item" (click)="followUser(user)">
 
        <i class="fa fa-user-plus"></i>
        <span>Follow</span>
      </div>
      <div class="popup-menu-item" (click)="likeUser(user)">
        <i class="fa fa-thumbs-up"></i>
        <span>Like</span>
      </div>
      <div class="popup-menu-item" (click)="chatWithUser(user)">
        <i class="fa fa-comment"></i>
        <span>Chat</span>
      </div> 
    </div>
  </div> -->
</ion-footer>