chat-bubble {
    .bubble {
        font-size: 12px;
    }
    .start {
        background-color: #ec9ea9;
        color: $white;
        padding: 6px 10px;
        width: 70%;
        border-radius: 20px;
        float: left;
        line-height: 1.2;
        margin-left: 4px;
    }
    .end {
        background-color: $light-grey;
        color: #1f1f20;
        width: 70%;
        padding: 6px 10px;
        border-radius: 20px;
        float: right;
        line-height: 1.2;
    }
}
